*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
}
body{
    background-color: 	rgb(248,248,255);
    background-image: url(./imgs/woodback.png);
    display: flex;
}
#flex-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 95vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    background-color: rgb(123,220,118);
    background-image: url(./imgs/shorot.png);
    border-radius: 2em;
}
.todo-container{
    display: flex;
    background-color:rgb(240,255,239,70%);
    border: solid lightgray 1px;
    border-radius: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    decoration: underline;
    margin-bottom: 2.7vh;
}
.todo-container:hover{
    margin-left: 1.8em;
    margin-right: 1.8em;
    position: relative;
}
.todo-created-at, .todo-text, .checkbox, .todo-priority{
    margin-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1.2vh;
}
.remove{
    margin-left: 8vw;
    float: right;
}
.controlSection{
    align-self: center;
    margin-bottom: 1vh;
}
.viewSection{
    align-items: center;
}
#reset-button{
    width: 20%;
    align-self: center;
}
#reset-button:hover, .remove:hover{
    background-color:rgb(238, 110, 110);
}
.checkbox{
  position: relative;
  top: 0;
  left: 0;
  height: 4vh;
  width: 4vw;
  background-color: #eee;
}
#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .draggable {
    cursor: move;
    user-select: none;
}
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }